body{
    margin: 0;
    background-color: #ffefa9;
    font-family:"Comic sans MS", cursive ,sans-serif;
}

header{
    background-color: #FFD382;
    padding: 1%;
}

nav{
    margin: 25px 225px;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav ul{
    list-style: none;
    display: inline-block;
    font-size: 20px;
}

nav li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: #073B58;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 0px 5px;
}

nav ul li a:hover {
    background-color: #FFBF6C;
    color: #FFF7D5;
}

.choose{
    background-color: #FFBF6C;
    color: #FFF7D5;
}

section{
    display: flex;
    flex-direction: column;
    margin: 15px 225px;
}

.root{
    position: relative;
}

section .front, .back{
    width: 100%;
    height: auto;
    background-color: #FFF7D5;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

section .card{
    width: 300px;
    height: 450px;
    margin: 30px;
}

.root{
    width: 1070px;
    height: 510px;
}

.front, .back{
    position: absolute;
    backface-visibility: hidden;
}

.front{
    transform: rotateX(0deg);
    transition: .8s;
}

.root:hover .front{
    transform: rotateX(-180deg);
    transition: .8s;
}

.back{
    transform: rotateX(-180deg);
    transition: .8s;
}

.root:hover .back{
    transform: rotateX(0deg);
    transition: .8s;
}

footer{
    text-align: center;
    color:#904E0E;
    font-size: 12px;
    background: #FFD382;
    padding: 15px;
}