body{
    background-color: #FFF3DE	;
    font-family:Comic Sans MS;
}

.content{
    color:#904E0E
}

.title{
    padding-top: 50px;
    font-size: 30px;
    font-style: oblique ;
    text-align: center;
    color: #BD7B00;
    font-weight: bold;
}

form{
    background: #FFECC9;
    width: 260px;
    height: 260px;
    margin: 35px auto;
    padding: 30px;
    box-shadow:0px 1px 2px 1px #855600,
               inset 0px 1px 1px #946000;
    border-radius: 3px;
}

textarea{
    margin-top: 10px;
}

input[type*="button"]{
    width: 50%;
	height: 35px;
	font-size: 18px;
	color: #FFF3DE;
    text-align: center;
    font-family:Comic Sans MS;
    background-color: #FFC14F;
    border-radius: 5px;
}

.footer{
    text-align: center;
}

a,a:link,a:visited{
    color:#904E0E;
    text-decoration: none
}

.magic:hover{
    background: #FFC14F;
}