body{
    background-color: #ffefa9;
    font-family:Comic Sans MS;
}

header{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 100;
    margin-left: -125px;
}

header ul{
    list-style: none;
    display: flex;
    font-size: 22px;
    margin-right: 100px;
    font-family:"Comic sans MS", cursive ,sans-serif;
}

header ul li a{
    text-decoration: none;
    color: #073B58;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 0px 5px;
}

header ul li a:hover{
    background-color: #FFBF6C;
    color: #FFF7D5;
}

.container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 50px;
}

.item{
    padding: 50px 100px;
}

.item img{
    position: relative;
    width: 500px;
}

.frame{
    box-shadow: 2px 2px 2px 3px rgba(187, 180, 180, 0.616);
    background-color: #ffeb92d2;
    padding: 35px 60px;
}

form{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.title{
    padding: 25px;
    font-size: 30px;
    text-align: center;
    color: #3f3d56;
    font-weight: bold;
}


.input_field{
    max-width: 380px;
    height: 55px;
    background-color: #BAEDFF;
    border-radius: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.input_field i{
    margin: 25px;
    color: #64D4FC;
}

.input_field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.btn{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #575a89;
    color: antiquewhite;
    font-weight: 600;
    border-radius: 30px;
    margin: 20px;
}

.btn:hover{
    background-color: #575a89b3;
    transition: .5s;
}

.item .sign_up{
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: -30px;
    margin-left: -115px;
    background-color: #3f3d56bf;
}

.item .sign_up:hover{
    background-color: #285632b8;
    transition: .3s;
}

.frame a{
    text-decoration: none;
}

.frame a:hover{
    color: #a0616af2;
}