body{
    margin: 0;
    background-color: #ffefa9;
    font-family:"Comic sans MS", cursive ,sans-serif;
}

header{
    background-color: #FFD382;
    padding: 1%;
}

nav{
    margin: 25px 225px;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav ul{
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 40px;
}

nav li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: #073B58;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 0px 5px;
}

nav ul li a:hover {
    background-color: #FFBF6C;
    color: #FFF7D5;
}

.choose{
    background-color: #FFBF6C;
    color: #FFF7D5;
}

section{
    display: flex;
    margin: 15px 155px;
}

section h2{
    text-align: center;
    color: rgba(17, 15, 15, 0.76);
    font-weight: bolder;
}

section .list{
    margin-top: 50px;
}

section ul{
    list-style: none;
    width: 100%;
    font-size: 20px;
    
}

ul a{
    text-decoration: none;
    color: rgba(17, 15, 15, 0.76);
}

ul a:hover{
    color: #904E0E;
}

section .products{
    margin-left: 85px;
    width: 100%;
}

.row{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.column{
    background: #FFF3DE;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin: 0 30px;
    width: 30%;
    border-radius: 20PX;
}

.column:hover{
    transform: translateY(-10px);
    transition: .5s;
}

.column img{
    width: 200px;
    height: 200px;
}

.column p{
    margin: 6px;
}

.column button{
    width: 200px;
    height: 35px;
}

footer{
    text-align: center;
    color:#904E0E;
    font-size: 12px;
    background: #FFD382;
    padding: 15px;
}